
/*ALL*/
html, body { font-family: 'Noto Sans KR', sans-serif; font-weight: 300; cursor:url('https://i.imgur.com/VkH5cZJ.png'),url('https://randhk.github.io/new/cursor.cur'),auto; }

a,button { cursor:url('https://i.imgur.com/aZAf1Po.png'),url('https://randhk.github.io/new/cursor_hover.cur'),auto;}
button, html input[type=button], input[type=reset], input[type=submit] { outline:none; }
.btn:focus, .btn.active { box-shadow: 0 0; }

/*header*/
.jumbotron { background-color: #fff; padding-bottom: 30px; }
.logo img { max-width:235px; }

.nav  {  text-align: center;  margin: 0 0 70px 0;  z-index: 100; background: rgba(255, 255, 255, 0.8); width:100%; padding: 0;}
.nav a { color:#333; padding:0 20px; font-size: 14px; font-weight: bold; }
.nav a:hover { text-decoration: none; color:#aaa; }

.main-menu {     display: flex; justify-content: center; }
#filter { display: flex; justify-content: center; }
#filter button { background-color:#ffffff;  border:none; padding:0;  margin: 0 1%;  font-family: 'Karla', sans-serif;   font-size: 15px; flex-flow: wrap;}
#filter button.active { text-decoration:underline; }

/*contatiner*/
.container { padding:0; }
.container .posts { clear:both; margin:50px 0; overflow: hidden; }
.container .posts > .post { margin:0 0 1.5em 0; transition: all .5s; }
.container .posts > .post:hover { box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); }

.container .posts .post-thum > img { width:100%;  }
.container .posts .post-thum p { padding:5px 0; margin:0;} 
.container .posts a { color:#333; }
.container .posts a:hover { opacity: 0.7; }

.modal-content { border-radius:0; box-shadow: none; border:none; }
.modal-header { padding:15px; }
.modal-header .close { opacity: 1; margin-top:0;}
.modal-header .close .close-icon-wrap { display: inline-block; width:15px; height: 15px; position: relative; }
.modal-header .close .close-icon-wrap .close-icon { position: absolute;top:7px;left:0; display: inline-block; width:15px; height: 1px; background-color: #333; transform: rotate(45deg); }
.modal-header .close .close-icon-wrap .close-icon:after { content:"";  position: absolute;top:0;left:0; display: inline-block; width:15px; height: 1px; background-color: #333; transform: rotate(90deg);  }
.modal-header .modal-title { font-weight: normal; }
.modal-header, .modal-footer { border:none;  }
.modal-header button { display: block; }

.modal-body { text-align: center; }
.modal-body img { max-width: 400px; width:100%; }
.modal-body p { margin:20px 0 0 0; line-height: 26px; }
.modal-body-imgs img { max-width: 250px; width:100%; margin:0 20px 20px 0; }
.modal-body-imgs img:nth-child(2n) { margin:0 0 20px 0; }

.modal-footer { padding:15px 0 0 0; }
.modal-footer button { display:none; background-color: #FCE602; color: #333; border:none; border-radius: 0; width: 100%; padding:15px 0; font-size: 16px; }



footer { color:#333; font-size:12px; text-align: center; padding: 90px 0 40px 0; }
footer .footer-social { text-align: center;  display: block; font-size: 11px; position: relative;  padding: 20px 0; }
footer .footer-social .social-link { width: 11px; height: 11px; margin: 0 20px; }
footer .footer-social .social-icon { font-size: 13px; color:#222;  position: absolute; top: 20px;  }

.back-to-top { cursor: pointer; position: fixed; bottom: 20px; right: 20px;display:none; }
.back-to-top .glyphicon-chevron-up { color:#333; font-size:20px; }


@media all and (max-width : 1023px)  {  
      
.logo img { max-width:250px; }
.nav a { padding:0 25px; }

.container .posts { display:flex; flex-flow:wrap; }
.container .posts > .post { width:50%;  } 
.modal .modal-body img { width:100%; max-width: 400px; }
#filter button {  font-size: 14px;margin: 0 20px 0 0;}
#filter button:last-child {  font-size: 14px;margin: 0;}
#filter button.active { text-decoration:underline; }


}

@media all and (max-width : 767px)  { 
.main-menu { padding:1.5em 0; }
.container {   padding: 0 2%; }

}